.ContainerForm{
    margin-bottom: 300px;
    display:flex;
    flex-flow: column;
    border-radius: 10px;
    -moz-box-shadow: 0px 1px 5px 0px #676767;
    -webkit-box-shadow: 0px 1px 5px 0px #676767;
    box-shadow: 0px 1px 5px 0px #676767;
    padding: 60px;
    background-color: white;
    .inputs{
        width:70px;
        text-align: start;
        border: 0px;
        border-bottom: 2px gray solid;
        outline: 0;
        outline-color: gray;
        #Text{
            display:inline;
            margin-left:0px;
            margin-right:5px;
        }
        #Texto{
            display:inline;
            margin-right: 47px;
        }
        
    }
    @media (min-width:500px) {
        .inputs{
            width:150px;
            font-size: large;
            text-align: center;

            
        }
    }
    .Selection{
        width: 65px;
        margin-left: 0px;
        margin-right: 5px;
        border: 0px;
    }
    #Selection1{
        display: inline;
        width: 65px;
        margin-left: 0px;
        margin-right: 5px;
        border: 0px;
    }
    .EmCima{
        margin-bottom: 20px;
    }   
    input[type=number]::-webkit-inner-spin-button { 
        -webkit-appearance: none;
        
    }
    input[type=number] { 
        -moz-appearance: textfield;
        appearance: textfield;
    }
}
.Form{
    display:flex;
    flex-flow: column;
    align-items: center;
    
}
#USD{
    background-image: url(../../assets/flags/USA.png);
}
#EUR{
    background-image: url(../../assets/flags/EUR.png);
    @media (max-width: 700px) {
        background-image: url(../../assets/flags/MOB/EURMOB.png);
    }
}
#CAD{
    background-image: url(../../assets/flags/CAD.png);
}
#GBP{
    background-image: url(../../assets/flags/GBP.png);
}
#RUB{
    background-image: url(../../assets/flags/RUB.png);
}
#AUD{
    background-image: url(../../assets/flags/AUD.png);
}
#ARS{
    background-image: url(../../assets/flags/ARS.png);
}