.ContainerMain{
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Block{
    display: block;
}


